*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: bisque;
}
.wrapper{
    max-width: 1024px;
    margin: 0 auto;
    border:1px solid red;
    text-align: center;
}
.info{
    padding-bottom: 10px;
    border:1px solid green;
    background-color: gray;
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2{
    padding: 10px;
}
p{
    padding: 5px;
}
li{
    padding-bottom: 5px;
    list-style-type: none;
}
.info a{
    color: white;
    text-decoration: none;
}
.info a:hover{
    color:blueviolet;
}