.sl_ctr{
  position:relative;
  width:450px;
  height:300px;
  overflow:hidden;
}
.sldr{
  position:relative;
  width:10000px;
  height:300px;
}
.sldr img{
  float:left;
}
.prv_b, .nxt_b{
  position:absolute;
  top:135px;
  display:block;
  width:35px;
  height:35px;
  cursor:pointer;
}
.prv_b:hover, .nxt_b:hover{
  opacity:1;
}
.prv_b{
  opacity:.3;
  left:10px;
  background:url(./img/slides/prv.jpg) no-repeat;
}
.nxt_b{
  opacity:.3;
  right:10px;
  background:url(./img/slides/nxt.jpg) no-repeat;
}