*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(../img/bg.jpg);
    background-attachment: fixed;
    /* background-size: cover; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* opacity: .5; */
}
.wrapper{
    background-image: url(../img/houndstooth-pattern.png);
    /* background-color: white; */
    max-width: 1024px;
    margin: 20px auto;    
    text-align: center;
}
h1{
    padding: 20px 0;
}
.info{
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;   
    
}
.info img{
    border-radius: 50%;
    height: 200px;
    padding: 20px;
}
.aboutMe{    
    text-align: center;
    width: 100%;
}
.aboutMe h2{    
    padding-bottom: 20px;
    color: red;
}
section{
    margin-bottom: 10px; 
}
.contacts ul{
    margin: 0 auto;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.contacts li{
    font-size: 30px;
    padding-right: 10px;
}
a{
    color:black;
}
li{
    list-style: none;
}
.knowleges{
    /* background-color: red; */
}
.sl_ctr{
    margin: 0 auto;
}
.block{
    margin-bottom: 20px;
}
#year{
    font-size: 12px;
}